AppServices/LogicApps/send-sms.json
{
    "$connections": {
        "value": {
            "twilio": {
                "connectionId": "/subscriptions/3b7912c3-ad06-426e-8627-41912372774b/resourceGroups/AzureLinuxWebAppDev/providers/Microsoft.Web/connections/twilio",
                "connectionName": "twilio",
                "id": "/subscriptions/3b7912c3-ad06-426e-8627-41912372774b/providers/Microsoft.Web/locations/westus/managedApis/twilio"
            }
        }
    },
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Response": {
                "inputs": {
                    "body": "@body('Send_Text_Message_(SMS)')",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "statusCode": 200
                },
                "runAfter": {
                    "TrackCustomEvent_Completed": [
                        "Succeeded"
                    ]
                },
                "type": "Response"
            },
            "Send_Text_Message_(SMS)": {
                "inputs": {
                    "body": {
                        "body": "@triggerBody()?['message']",
                        "from": "+185*******",
                        "to": "@triggerBody()?['to']"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['twilio']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/Messages.json"
                },
                "runAfter": {
                    "TrackCustomEvent_Started": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "TrackCustomEvent_Completed": {
                "inputs": {
                    "body": {
                        "EventName": "Logic App Status",
                        "Metrics": {
                            "Logic App": 0
                        },
                        "Properties": {
                            "Description": "SendSMS Logic App completed",
                            "LogType": "Status Log"
                        }
                    },
                    "function": {
                        "id": "/subscriptions/3b7912c3-ad06-426e-8627-41912372774b/resourceGroups/AzureLinuxWebAppQA/providers/Microsoft.Web/sites/developer-finder-qa-function/functions/TrackCustomEvent"
                    }
                },
                "runAfter": {
                    "Send_Text_Message_(SMS)": [
                        "Succeeded"
                    ]
                },
                "type": "Function"
            },
            "TrackCustomEvent_Started": {
                "inputs": {
                    "body": {
                        "EventName": "Logic App Status",
                        "Metrics": {
                            "Logic App": 0
                        },
                        "Properties": {
                            "Description": "SendSMS Logic App started",
                            "LogType": "Status Log"
                        }
                    },
                    "function": {
                        "id": "/subscriptions/3b7912c3-ad06-426e-8627-41912372774b/resourceGroups/AzureLinuxWebAppQA/providers/Microsoft.Web/sites/developer-finder-qa-function/functions/TrackCustomEvent"
                    }
                },
                "runAfter": {},
                "type": "Function"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "message": {
                                "type": "string"
                            },
                            "to": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    }
}